image:
BMP
EPS
GIF
HDR/EXR
ICO
JPG
PNG
SVG
TGA
TIFF
WBMP
WEBP

to activate the virtual env:
convertron\Scripts\activate.bat

inorder to run the flask:
set FLASK_APP=app.py
flask run



multipart/formdata allows us to send forms and files to the server


program showing name and the type of the file



the file upload code addition is done foe picture format section even though the file download functionality is left behind.

export FLASK_APP=myapp
export FLASK_ENV=development
flask run